# Reverse Integer

In [1]:
# Class Work - 1 : Reverse the integer
my_num = int(input('Enter the number:'))

if my_num<0:
    num = -my_num
else:
    num = my_num
    
rev_num = 0
while (num > 0):    
    rem = num % 10  
    rev_num = (rev_num * 10) + rem  
    num = num // 10

print(-rev_num if num<0 else rev_num)

Enter the number:123
321

# Ugly Number

In [2]:
# Class Work - 2 : Ugly Number
num = int(input('Enter the number:'))

dum = num
for i in [2, 3, 5]:
    while dum % i == 0:
        dum /= i
if dum==1:
    print('{} is an ugly number.'.format(num))
else:
    print('{} is not an ugly number.'.format(num))

Enter the number:123
123 is not an ugly number.

In [3]:
# Just for information

from sqlalchemy import create_engine
database_connection = create_engine('sqlite:///sample.db')

#dataframe = pd.read_sql_query('SELECT*FROM data', database_connection)

# Working With SQL

In [4]:
# working with SQL

import sqlite3
conn = sqlite3.connect('example.db')
cursor = conn.cursor()
sql = '''CREATE TABLE EMPLOYEE(FIRST_NAME CHAR(20) NOT NULL, LAST_NAME CHAR(20), AGE INT, SEX CHAR(1), INCOME FLOAT)'''
cursor.execute(sql)
conn.commit()

OperationalError: table EMPLOYEE already exists

In [ ]:
cursor.execute('''INSERT INTO EMPLOYEE(FIRST_NAME, LAST_NAME, AGE, SEX, INCOME) VALUES('PRATIK','GOSWAMI',27,'M',100000)''')
conn.commit()

In [ ]:
cursor.execute('''INSERT INTO EMPLOYEE(FIRST_NAME, LAST_NAME, AGE, SEX, INCOME) VALUES('AMANDEEP','RATHEE',25,'M',200000)''')
conn.commit()

In [ ]:
cursor.execute('''INSERT INTO EMPLOYEE(FIRST_NAME, LAST_NAME, AGE, SEX, INCOME) VALUES('RABJOT','SINGH',23,'M',300000)''')
conn.commit()

In [ ]:
cursor.execute('''INSERT INTO EMPLOYEE(FIRST_NAME, LAST_NAME, AGE, SEX, INCOME) VALUES('FAHAD','MOHD',26,'M',500000)''')
conn.commit()

In [ ]:
cursor.execute('''SELECT * from EMPLOYEE''') #SYMBOL * FOR ALL COLUMNS
result = cursor.fetchone();
print(result)
result = cursor.fetchmany(2);
print(result)

In [ ]:
result = cursor.fetchall();
print(result)

In [ ]:
sql = '''UPDATE EMPLOYEE SET AGE=AGE+1 WHERE SEX='M' '''
cursor.execute(sql)
conn.commit()

In [ ]:
cursor.execute('''SELECT * from EMPLOYEE''')
result = cursor.fetchall();
print(result)

In [ ]:
sql = '''UPDATE EMPLOYEE SET AGE=AGE+1 WHERE AGE>24 '''
cursor.execute(sql)
conn.commit()

In [ ]:
cursor.execute('''SELECT * from EMPLOYEE''')
result = cursor.fetchall();
print(result)

In [ ]:
sql = '''DELETE FROM EMPLOYEE WHERE AGE>23 '''
cursor.execute(sql)
conn.commit()
cursor.execute('''SELECT * from EMPLOYEE''')
result = cursor.fetchall();
print(result)

In [ ]:
cursor.execute('''INSERT INTO EMPLOYEE(FIRST_NAME, LAST_NAME, AGE, SEX, INCOME) VALUES('FAHAD','MOHD',26,'M',500000)''')
cursor.execute('''INSERT INTO EMPLOYEE(FIRST_NAME, LAST_NAME, AGE, SEX, INCOME) VALUES('PRATIK','GOSWAMI',27,'M',100000)''')
conn.commit()

In [ ]:
cursor.execute('''SELECT * from EMPLOYEE''')
result = cursor.fetchall();
print(result)

In [ ]:
sql = '''UPDATE EMPLOYEE SET INCOME=INCOME+5000 WHERE FIRST_NAME='PRATIK' '''
cursor.execute(sql)
conn.commit()
cursor.execute('''SELECT * from EMPLOYEE''')
result = cursor.fetchall();
print(result)

In [ ]:
import pandas as pd
df = pd.read_sql_query("SELECT * FROM EMPLOYEE", conn)
df.head()

# MongoDB

In [1]:
# MongoDB Tasks - NoSQL - Unstructured Data
import pymongo
from pymongo import MongoClient
client = MongoClient()
db = client.test

In [2]:
patients = db.patients

In [3]:
mydict = {'name':'John','disease':'covid19','age':'54'}
res = patients.insert_one(mydict) # works only if MongoDB is installed on PC